<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases/Index/Home</title>
</head>
<body>
  <h1>Automated Irrigation</h1>
  <button>dscjvbqiwebfvibweoufvb2weouqyvf</button>
<h2>Option Settings</h2>
  <h3>Custom Options</h3>
    <form action="/names" method="POST">
        <input type="text" placeholder="Water Moisture Requirement" name="Firstname">
        <input type="text" placeholder="Water Pump Duration" name="Fullname">
        <button type="submit">Submit</button>
      </form>

      <h3>Preset Options</h3>
      <form action="/names" method="POST">
  
        <input hidden type="text" placeholder="Water Pump Duration" name="Year">
        <label for="Year">Water Pump Duration</label>
        <select placeholder="Water Pump Duration" name="Year" >
          <option value="-"></option>
          <option value="7">Succulents</option>
          <option value="8">Troplical</option>
          <option value="9">Herbs</option>
          <option value="10">Catus</option>
          <option value="11">Houseplant</option>
          <option value="12">Outside Equatoral</option>
          <option value="13">Outside Central</option>
          <option value="14">Outside Poletral</option>
        </select>
        <input hidden type="text" placeholder="Water Moisture Requirement" style="text-align:middle"name="Year">
        <label for="Year">Water Moisture Requirement</label>
        <select placeholder="Water Moisture Requirement" name="Year" >
          <option value="-"></option>
          <option value="7">Succulents</option>
          <option value="8">Troplical</option>
          <option value="9">Herbs</option>
          <option value="10">Catus</option>
          <option value="11">Houseplant</option>
          <option value="12">Outside Equatoral</option>
          <option value="13">Outside Central</option>
          <option value="14">Outside Poletral</option>
        </select>

        <button type="submit">Submit</button>
      </form>
</body>

      <ul hidden class="names">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < names.length; i++) {%>
          <li class="House">
            <!-- Output name from the iterated quote object -->
            <span><%= names[i].House %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Sportcaterogy %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Sport %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Year %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Firstname %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Fullname %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Tutorgroup %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Points %></span>
          </li>
        <% } %>
      </ul>
      </head>
</html>
