<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noncompetative Entries</title>
</head>

    <h1>Noncompetative Entries</h1>
    <body>
      <button onclick="goBack()">Back</button>
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
      <p>First name, Full name, Sport, Year</p>
      </body>

</body>
      <ul class="names">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < names.length; i++) {%>
          <li class="House">
            <span><%= names[i].Firstname %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Fullname %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Tutorgroup %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Sport %></span>
            <!-- Output quote from the iterated quote object -->
            <span><%= names[i].Year %></span>
          </li>
        <% } %>
      </ul>
</body>

</html>