<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champagant Student</title>
</head>

    <h1>Champagant Student</h1>
    <body>
      <button onclick="goBack()">Back</button>
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
      <p>First name, Last name, House, Sport, Year, Tutor group, House points</p>
    </body>

</body>
    <ul class="names">
      <!-- Loop through quotes -->
      <% for(var i = 0; i < names.length; i++) {%>
        <li class="House">
          <span><%= names[i].Firstname %></span>
          <!-- Output quote from the iterated quote object -->
          <span><%= names[i].Fullname %></span>:
          <span><%= names[i].House %></span> 
          <!-- Output quote from the iterated quote object -->
          <span><%= names[i].Sport %></span> 
          <!-- Output quote from the iterated quote object -->
          <span><%= names[i].Year %></span> 
          <!-- Output quote from the iterated quote object -->
          <!-- Output quote from the iterated quote object -->
          <span><%= names[i].Tutorgroup %></span> 
          <!-- Output quote from the iterated quote object -->
          <span><%= names[i].Points %></span> 
        </li>
      <% } %>
    </ul>
</body>
</html>